# --- DEPENDENCIAS ---
# Esto ignorará cualquier carpeta node_modules sin importar dónde esté
node_modules/
frontend/node_modules/

# --- NEXT.JS / FRONTEND ---
.next/
frontend/.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# --- PYTHON / BACKEND ---
__pycache__/
backend/__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
db.sqlite3

# --- VARIABLES DE ENTORNO Y SECRETOS ---
.env
.env*
.vercel

# --- OTROS ---
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*